

body {
    font-family: 'Montserrat', sans-serif;
}
.header_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-decoration: none;
    margin-bottom: 25.5px;
    margin-top: 25.5px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2.7px;
}
.header_item {
    margin-right: 72px;

}
.header_item_last {
    margin-left: -22px;

}
nav>ul>li>a {
    text-decoration: none;
    color: #FF0000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}
.banner {
    background-image: url("image1.png");
    height: 789px;
    background-repeat: no-repeat;
    background-position: top center;
}
main {
    width: 1280px;
    margin: 0 auto;
}
.title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 38px;

}
.text {
    margin-right: 68px;
    margin-left: 68px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;

}
.btn {
    display: flex;
    justify-content: center;
    margin-top: 66px;
}
button {
    padding: 18px 43.5px 17px ;
    background: #FF0000;
    border-radius: 4px;
    color: #FFFFFF;
    border:none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase

}
.footer {
    text-align: right;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-top: 82px;
    margin-right: 170px;
    letter-spacing: 2.4px;
    color: #373737;
}